/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0.4rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/****************************************** MOBIL ******************************************************/

/********************* Links og computer positionering ********************/
.image-container {
  position: relative;
  width: 100%;
  background-size: cover;
}

.image-container img {
  width: 100%; /* billedet fylder hele containerens bredde */
  height: auto;
  display: block;
}

.image-link {
  position: absolute;
  display: block;
  max-width: 650px;
  bottom: 46%;
  right: 6%;
  width: 85%;
}

/************************** pil position ******************/
.img_pil {
  display: none;
  position: absolute;
  right: 30%;
  top: 65%;
}

/****************************************** DESKTOP **************************************************/
@media (min-width: 760px) {
  body {
    background-color: var(--primary);
    max-width: 1200px;
    margin: 0 auto;
  }

  html {
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
  }
  /********************** Grid ********************/
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  /******************* projekter margin*/

  .web {
    margin-top: 50px;
  }

  .ux_ui {
    margin-left: 140px;
  }

  .animation {
    margin-left: 200px;
  }

  .indhold {
    margin-left: 390px;
  }

  /********************** andet */
  .image-link {
    margin-bottom: 25px;
  }

  .com_web {
    margin-top: 60px;
  }

  .img_pil {
    display: block;
  }

  /************************* h2 får left margin */
  .h2_margin_left_forside {
    margin-left: 420px;
  }

  .h2_margin_left_2 {
    margin-left: 299px;
    margin-bottom: 50px;
  }

  .h2_margin_left_3 {
    margin-left: 229px;
    margin-bottom: 50px;
  }

  .h2_margin_left_4 {
    margin-left: 61px;
    margin-bottom: 50px;
  }

  .h2_margin_left_5 {
    margin-left: 155px;
    margin-bottom: 50px;
  }

  /******************** skubber tekst ned så layoutet bliver diagonalt*/
  .tekst_margin_top2 {
    margin-top: 65px;
  }

  .tekst_margin_top3 {
    margin-top: 80px;
  }

  .tekst_margin_top5 {
    margin-top: 60px;
  }

  .tekst_margin_top_mig {
    margin-top: 90px;
  }
  /********************* billede margin */

  .img_tema3 {
    margin-top: 60px;
  }

  .img_tema4 {
    margin-top: 80px;
  }

  .img2_tema4 {
    margin-top: -100px;
  }

  .img_tema5 {
    margin-top: 80px;
  }

  /******************* max width og margin på mig */
  .img_mig {
    max-width: 600px;
    height: auto;
  }

  .tekst_max {
    max-width: 700px;
    margin-left: 20px;
  }

  .tekst_margin_om_mig {
    margin-left: 400px;
    margin-top: -20px;
  }

  /******************** Knapper */
  .oval_knap {
    margin-top: 100px;
  }

  .oval_knap_2 {
    margin-top: 10px;
    margin-left: 180px;
    margin-bottom: 20px;
  }

  .oval_knap_3 {
    margin-top: -5px;
    margin-left: 200px;
    margin-bottom: 10px;
  }

  .oval_knap_4 {
    margin-top: 20px;
    margin-left: 250px;
  }

  .kamera_tema3 {
    margin-top: -7px;
  }
  /*********** projekt bokse */
}

@media (min-width: 1000px) {
  /************* stjerne positioner i desktop format - måtte give dem en min-width på 1200px (bodyens max width) fordi stjerne flyttede position i min-width 760px*/
  .stjerne1_position {
    top: 57%;
    left: 17%;
    width: 150px;
    height: auto;
  }

  .stjerne2_position {
    top: 119%;
    right: 27%;
    width: 150px;
    height: auto;
  }

  .stjerne3_position {
    top: 112%;
    right: 41%;
    width: 150px;
    height: auto;
  }

  .stjerne4_position {
    top: 117%;
    right: 35%;
    width: 150px;
    height: auto;
  }

  .stjerne5_position {
    top: 57%;
    right: 15%;
    width: 170px;
    height: auto;
  }
}
