/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0.4rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/******************************************* FARVER, STYLING & FONTE  *****************************************/

/************** Custom properties **************/
html {
  /* farver */
  --primary: #9cd7da;
  --secondary: #b33333;
  --tertiary: #000000;

  /* fonte */
  --font-heading: "Anton", sans-serif;
  --font-body: "Libre Baskerville", serif;

  /* font size - vw bruges til respnsivt design - 1vw svarer til 1% af bredden på din browser/visningsport (skærmen)*/
  --h1-size: 13vw;
  --h2-size: 7vw;
  --h2-mmd-size: 4vw;
  --h3-size: 4vw;
  --h4-size: 4vw;
}

/******* H1 ********/
h1 {
  font-family: var(--font-heading);
  font-size: var(--h1-size);
  margin-bottom: -25px;
}

.outline_h1 {
  color: transparent;
  -webkit-text-stroke: 3px var(--secondary);
}

/******* H2 ********/
h2 {
  color: var(--secondary);
  font-family: var(--font-heading);
  font-size: var(--h2-size);
}

.h2_mmd_size {
  font-size: var(--h2-mmd-size);
  margin-top: -20px;
  margin-bottom: 20px;
}

/******* H3 ********/
h3 {
  color: var(--tertiary);
  font-family: var(--font-heading);
  font-size: var(--h3-size);
  margin-bottom: 15px;
}

/******* H4 ********/
h4 {
  color: var(--secondary);
  font-family: var(--font-heading);
  margin-bottom: -5px;
  margin-top: 10px;
  font-size: x-large;
}

/******* Tekst ********/
p {
  color: var(--tertiary);
  font-family: var(--font-body);
  margin-bottom: 10px;
  font-size: larger;
}

/************************************ LINKS ***********************************/
.link_style {
  text-decoration: none;
  font-family: var(--font-heading);
  color: var(--tertiary);
  font-size: 5vw;
}

/***************************************** BAGGRUND ******************************************/

body {
  background-color: var(--primary);
}

/****************************************** MAIN ********************************************/
main {
  max-width: 1300px;
  margin: 0 auto;
}
/****************************************** IMG **********************************************/

.computer {
  background-size: cover;
}

.img_outline {
  outline: 1px solid black;
}

.img_hvid_kant {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 55px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 2px 3px black;
}

/*************************************** Knap *************************************************/

.oval_knap {
  display: inline-block;
  background-color: white;
  color: var(--secondary);
  border: 3px solid var(--secondary);
  padding: 30px 30px;
  border-radius: 50%;
  font-family: var(--font-heading);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 1px 3px black;
  justify-self: center;
  align-self: start;
}

.oval_knap:hover {
  background-color: var(--secondary);
  color: white;
}

.oval_knap_2 {
  display: inline-block;
  background-color: white;
  color: var(--secondary);
  border: 3px solid var(--secondary);
  padding: 30px 30px;
  border-radius: 50%;
  font-family: var(--font-heading);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 1px 3px black;
  justify-self: center;
  align-self: start;
}

.oval_knap_2:hover {
  background-color: var(--secondary);
  color: white;
}
/********************************** PIL + ANIMATION ***************************************/

/************************************************************ DESKTOP ***************************************************************/
@media (min-width: 760px) {
  /* skrifstørrelse på h4 og tekst */
  h4 {
    font-size: 3rem;
  }

  p {
    font-size: x-large;
  }

  /* h2 får left margin */
  .h2_margin_left {
    margin-left: 160px;
  }

  /* skubber tekst ned så layoutet bliver diagonalt*/
  .tekst_margin_top {
    margin-top: 65px;
  }

  .oval_knap {
    margin-top: 100px;
  }

  .oval_knap_2 {
    margin-top: -32px;
  }

  .kamera_tema3 {
    margin-top: -7px;
  }
}
