/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0.4rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/******************************************* FARVER, STYLING & FONTE  *****************************************/

/************** Custom properties **************/
html {
  /* farver */
  --primary: #9cd7da; /* baggrund */
  --secondary: #b33333; /* overskrifter */
  --tertiary: #000000; /* brødtekst */

  /* fonte */
  --font-heading: "Anton", sans-serif; /* Overskrifter */
  --font-body: "Libre Baskerville", serif; /* Brødtekst */

  /* font size */
  --h1-size: clamp(6rem, 12vw, 12rem); /* clamp er en CSS-funktion, der begrænser en værdi mellem en minimum og en maksimum */
  --h1-Portfolio-size: clamp(4.5rem, 12vw, 12rem); /* min= 4.5rem og max= 12rem */
  --h1-projekter-size: clamp(4rem, 12vw, 12rem);
  --h2-size: clamp(3rem, 6vw, 6rem);
  --h2-mmd-size: clamp(1.8rem, 3vw, 3rem);
  --h3-size: clamp(1.3rem, 3vw, 3rem);
  --h4-size: 4vw; /* vw gør at teksten følger med skærmstørrelsen */
}

/******* H1 ********/
h1 {
  font-family: var(--font-heading);
  font-size: var(--h1-size);
  margin-bottom: -25px;
}

.h1_portfolio {
  font-family: var(--font-heading);
  font-size: var(--h1-Portfolio-size);
  margin-bottom: -25px;
}

.h1_projekter {
  font-family: var(--font-heading);
  font-size: var(--h1-projekter-size);
}

.outline_h1 {
  color: transparent; /* gennemsigtig */
  -webkit-text-stroke: 3px var(--secondary); /* den røde outline på h1 er 3 px bred */
}

/******* H2 ********/
h2 {
  color: var(--secondary);
  font-family: var(--font-heading);
  font-size: var(--h2-size);
}

.h2_mmd_size {
  font-size: var(--h2-mmd-size);
  margin-top: -20px;
  margin-bottom: 20px;
}

/******* H3 ********/
h3 {
  color: var(--tertiary);
  font-family: "Courier New", Courier, monospace;
  font-size: var(--h3-size);
  margin-bottom: 20px;
  margin-top: -15px;
  font-weight: 600;
}

/******* H4 ********/
h4 {
  color: var(--secondary);
  font-family: var(--font-heading);
  margin-bottom: -5px;
  margin-top: 10px;
  font-size: x-large;
}

/******* Tekst ********/
p {
  color: var(--tertiary);
  font-family: var(--font-body);
  margin-bottom: 10px;
  font-size: larger;
}

.p_emner {
  font-family: var(--font-heading);
  color: var(--tertiary);
  font-weight: bold;
  font-size: clamp(1.1rem, 2.8vw, 2.8rem);
  font-style: italic;
}
/************************************ LINKS ***********************************/
.link_style {
  text-decoration: none;
  font-family: var(--font-heading);
  color: var(--tertiary);
  font-size: clamp(1.1rem, 2.8vw, 2.8rem);
  font-weight: 400;
}

.link_style:hover {
  color: var(--secondary);
}

/***************************************** BAGGRUND ******************************************/

body {
  background-color: var(--primary);
}

/****************************************** IMG **********************************************/

.computer {
  background-size: cover; /* sørger for: billedet fylder hele bredden og højden af elementet, bevarer proportioner og kan blive beskåret */
}

.img_outline {
  outline: 1px solid black;
}

.img_hvid_kant {
  /* dette skal ligne en polaorid billede */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 55px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 2px 3px black;
}

.img_margin_top {
  margin-top: 40px;
}

/*************************************** Knap *************************************************/

.oval_knap {
  display: inline-block;
  background-color: white;
  color: var(--secondary);
  border: 3px solid var(--secondary);
  padding: 40px 30px;
  border-radius: 50%;
  font-family: var(--font-heading);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 1px 3px black;
  justify-self: center;
  align-self: start;
}

.oval_knap:hover {
  background-color: var(--secondary);
  color: white;
}

/************* knap animation *****/
/* @keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.09);
    opacity: 1;
  }
} */

.pulse-link {
  display: inline-block; /* Så transform virker fint */
  animation: pulse 1.5s infinite;
}

/*********************************** STJERNE ANIMATION ******************************************/
.rotating-image {
  position: absolute;
  top: 47%; /* vælg hvor billedet skal være */
  right: 17%;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0s linear;
  width: 100px;
  height: auto;
}

/********************************** PIL + ANIMATION ***************************************/

.img_pil {
  height: 170px;
  width: auto;
}

.float-up-down {
  animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-45px);
  } /* Går op */
  100% {
    transform: translateY(0);
  } /* Tilbage ned */
}

/****************************************** MENU *****************************************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.logo img {
  width: 80px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: var(--font-heading);
  font-weight: 600;
}

.menu a:hover {
  color: var(--secondary);
}

.burger {
  width: 50px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 1px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/************************************************************ DESKTOP ***************************************************************/
@media (min-width: 760px) {
  h4 {
    font-size: 3rem;
  }

  p {
    font-size: x-large;
  }
}
